<h1>Your Washington, DC Weather</h1>
<p>Currently it is {{ temperature }} degrees, with {{ description }}.</p>

<h3>{{ day1 }}</h3>
<p>{{ day1high }}</p>
<p>{{ day1low }}</p>
<p>Humidity is {{ day1humidity }}% with a {{ day1precipitation }}% chance of precipitation.</p>

<h3>{{ day2 }}</h3>
<p>{{ day2high }}</p>
<p>{{ day2low }}</p>
<p>Humidity is {{ day2humidity }}% with a {{ day2precipitation }}% chance of precipitation.</p>

<h3>{{ day3 }}</h3>
<p>{{ day3high }}</p>
<p>{{ day3low }}</p>
<p>Humidity is {{ day3humidity }}% with a {{ day3precipitation }}% chance of precipitation.</p>